/* Import del font di Google "Spartan" perché mi piace come Font */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Spartan", sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #393E46;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #393E46;
}

h4 {
    font-size: 20px;
    color: #393E46;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: aquamarine;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.selection-m1 {
    margin: 40px 0;
}

body {
    width: 100%;
}

.logo img {
    height: 40px;
    width: auto;
}

.logo {
    padding-top: 5px;
    height: 90px;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background: #F2E7D5;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    padding-bottom: 20px;
    text-align: center;
}

#navbar li:nth-child(1),
#navbar li:nth-child(2),
#navbar li:nth-child(3) {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #393E46;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #6D9886;
}

#header .car {
    height: 40px;
    width: auto;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.search-bar input {
    width: 200px;
    padding: 8px;
    border: 1px solid #393E46;
    border-radius: 4px;
    font-size: 14px;
}

.search-bar button {
    padding: 8px 12px;
    background-color: #393E46;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-bar button:hover {
    background-color: #6D9886;
}

main {
    margin-top: 130px;
    /* Aggiungi un margine superiore per evitare sovrapposizione con l'header */
}